<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <!--bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <!--chartsjs-->
        <script>src="https://cdnjs.com/libraries/Chart.js"</script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <!--simpledatatables-->
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>

        <style>
            .title{
                text-align: center;
                font-size: 45px;
            }

            .mb-3{
            margin-left: 30px;
            margin-right: 30px;
        }
        </style>
</head>
<body>
    <div class="title"><p>Likelihood Analysis</p></div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">What is the likelihood of the identified threats occurring?
            (Scale: Very Low, Low, Medium, High, Very High)</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Type Very Low, Low, Medium, High or Very High">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">What is the potential impact if these threats materialize?
            (Scale: Minimal, Moderate, Severe, Catastrophic)</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Type Minimal, Moderate, Severe or Catastrophic">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">What is the residual risk after considering existing controls?
            (Scale: Very Low, Low, Medium, High, Very High)</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Type Very Low, Low, Medium, High, Very High">
      </div>
      <div class="d-flex justify-content-end">
        <a href="form3.html" class="btn btn-primary" style="margin-right: 30px;">
            Next
        </a>        
    </div>
</body>
</html>