<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
            <!--bootstrap-->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
            <!--chartsjs-->
            <script>src="https://cdnjs.com/libraries/Chart.js"</script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <!--simpledatatables-->
            <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
            <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
    
            <style>
                .title{
                    text-align: center;
                    font-size: 45px;
                }

                .mb-3{
            margin-left: 30px;
            margin-right: 30px;
        }

        .form-check{
            margin-left: 30px;
        }
            </style>
</head>
<body>
    <div class="title"><p>Risk Mitigation</p></div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">What security controls are currently in place to mitigate identified risks? (e.g., firewalls, encryption, access controls)
        </label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Input Here">
      </div>
    
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Are there any additional security controls that could be implemented to further mitigate risks?
        </label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Input Here">
      </div>
      <div class="form-check">
        <p>How frequently should this risk assessment be reviewed?</p>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
        <label class="form-check-label" for="flexCheckDefault">
          Monthly
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Quarterly
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Annually
        </label>
      </div>
      <div class="d-flex justify-content-end">
        <a href="form4.html" class="btn btn-primary" style="margin-right: 30px;">
            Submit
        </a>        
    </div>
</body>
</html>